<section class="second">
  <div class="wrap">
      <div class="line-blocks full">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <br>
        <div class='control-images'>
            <span id="fileselector">
                <label class="btn btn-default" for="upload-file-selector">
                    <input id="upload-file-selector" type="file" (change)="fileChangeListener($event)">
                    <i class="fa_icon icon-upload-alt margin-correction"></i>upload file
                </label>
            </span>
            <button type="button" (click)="ImagesUpload()" class="custom--button btn btn-lg btn-default btn-block">Image</button>
        </div>
      </div>
  </div>
</section>