<div class="container">
  <div class="card card-container">
    <p class="header"> Sign up </p>
    <form class="form-signin" role="form" name='make_advert_login' (submit)="addNewUser($event)">
        <input type="hidden" name="_csrf_token" value="gRe58klAUsguGIijPLG-fCYk3JS2lPizbsYPWNbyfv8"/>
        <fieldset>
            <div class="form-group has-feedback">
                <input type="text" id="username" name="Username" type="text" [(ngModel)]="username" required="required" class="form-control" placeholder="Login" autofocus/>
                <i class="fa fa-user form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input type="text" name="email" type="text" [(ngModel)]="email" required="required" class="form-control" placeholder="Email" autofocus/>
                <i class="fa fa-envelope form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <input type="password" [(ngModel)]="password" name="passwordinput" required="required" class="form-control" placeholder="New password"/>
                <i class="fa fa-lock form-control-feedback"></i>
            </div>
            <div class="line-separator"></div>
            <div class="submit">
                <input type="submit" name="submit" click="addNewUser($event)" value="Create Account" class="btn-lg btn-primary btn-block btn-signin"/>
            </div>
        </fieldset>
    </form>
</div>
</div>