.logout {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logout i {
    color: #fff;
    line-height: 50px;
    vertical-align: middle;
}

.img-user {
    margin-top: 5px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.img-user img {
    width: 100%;
}

.logout i {
    margin-left: 10px;
}

.find-btn:focus {    
    outline: 0;
    box-shadow: none;
    background: #fff;
}

.form-control:focus {
    border: solid 1px #0f0f0f;
    outline: 0;
    box-shadow: none;
    background: #fff;
}

@media only screen and (max-width: 992px) {
    .navbar-nav li {
        font-size: 16px;
    }

    .navbar-brand {
        font-size: 40px;
        padding: 15px 10px;
    }

    .img-user {
        margin-right: 0;
    }
   
}

@media only screen and (max-width: 992px) {
    .navbar-form {
        padding-left: 0;
        padding-right: 5px;
    }

    .form-control {
        width: 133px;
    }
}

@media only screen and (max-height: 650px) {
    .wrapper {
        padding-top: 80px;
    }
}