<nav class="navbar navbar-inverse container"> 
    <div class="container-fluid"> 
        <div class="navbar-header"> 
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
            </button> 
            <a href="#" class="navbar-brand">Social To-Do</a> 
        </div> <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9"> 
            <ul class="nav navbar-nav"> 
                <li><a routerLink="/singin" *ngIf="!userService.loggedIn()" routerLinkActive="active">Sing In</a></li> 
                <li><a routerLink="/singup" *ngIf="!userService.loggedIn()" routerLinkActive="active">Sing Up</a></li> 
                <li><a routerLink="/upload-images" *ngIf="userService.loggedIn()" routerLinkActive="active">Images</a></li> 
             </ul> 
            </div> 
        </div> 
    </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
