<div class="container">
    <div class="card card-container">
      <!-- для поиска -->
      <p class="header"> People </p>
      <!-- для тех, на кого подписан пользователь -->
      <!-- <p class="header"> Following </p> -->
      <!-- для подписчиков -->
      <!-- <p class="header"> Followers </p> -->
      <div class="user-flex">
        <div class="img-name-user">
          <div class="img-user"><img src="/assets/image/main-photo1.jpg"></div>
          <ul>
              <li><a href="#">login</a></li>
              <li><a href="#">Name Surname</a></li>
          </ul>
        </div>
        <div class="submit">
            <input type="submit" id="_submit" name="submit" click="" value="Follow" class="btn btn-primary btn-block"/>
        </div>
      </div>
      <div class="line-separator"></div>
      <div class="user-flex">
          <div class="img-name-user">
            <div class="img-user"><img src="/assets/image/main-photo1.jpg"></div>
            <ul>
              <li><a href="#">login</a></li>
              <li><a href="#">Name Surname</a></li>
            </ul>
          </div>
          <div class="submit">
              <input type="submit" id="_submit" name="submit" click="" value="Following" class="grey btn btn-primary btn-block"/>
          </div>
        </div>
        <div class="line-separator"></div>
        <div class="user-flex">
            <div class="img-name-user">
              <div class="img-user"><img src="/assets/image/main-photo1.jpg"></div>
              <ul>
                  <li><a href="#">login</a></li>
                  <li><a href="#">Name Surname</a></li>
              </ul>
            </div>
            <div class="submit">
                <input type="submit" id="_submit" name="submit" click="" value="Follow" class="btn btn-primary btn-block"/>
            </div>
          </div>
          <div class="line-separator"></div>
              
    </div>
  </div>