<section class="first">
    <div class="photo-section">
    </div>
    <div class="wrapper">
        <div class="photo-name">
            <div class="photo">
                <a *ngIf="!usernameShow" routerLink="/upload-images">
                    <img src="{{user.avatar}}">
                </a>
                <img *ngIf="usernameShow" src="{{user.avatar}}">
            </div>
            <div class="name-about">
                <p class="name">{{user.firstname}} {{user.lastname}}</p>
                <p class="about size18">{{user.about}}</p>
                <ul class="size18">
                    <li><span class="bold">Birth Date:</span><span> {{user.birthday}}</span></li>
                    <li><span class="bold">Languages:</span><span> {{user.languages}}</span></li>
                    <li><span class="bold">Lives in</span><span> {{user.lives}}</span></li>
                    <li><span class="bold">From</span><span> {{user.from}}</span></li>
                </ul>
            </div>
        </div>
        <div class="submit">
                <!-- для своего аккаунта -->
                <input *ngIf="!usernameShow" type="submit" name="submit" routerLink="/edit-profile" value="Edit Profile" class="btn-lg btn-primary btn-block btn-signin"/>
                <!-- для аккаунта другого пользователья -->
                <input *ngIf="!isFollower && usernameShow" type="submit" name="submit" (click)="follower()" value="Follow" class="btn-lg btn-primary btn-block btn-signin"/>
                <input *ngIf="isFollower && usernameShow" type="submit" name="submit" (click)="unfollow()" value="Following" class="btn-lg btn-primary btn-block btn-signin grey"/>
        </div>
        <div class="line">
            <div class="line-first">
                <a href="#"><ul><li class="size40">{{count.countGoals}}</li><li class="size18">Goals</li></ul></a>
            </div>
            <div class="line-second">
                <a [routerLink]="['/followers', user.username]"><ul><li class="size40">{{count.countFollowing}}</li><li class="size18">Followers</li></ul></a>
            </div>
            <div class="line-third">
                <a [routerLink]="['/following', user.username]"><ul><li class="size40">{{count.countFollower}}</li><li class="size18">Following</li></ul></a>
            </div>
        </div>
    </div>
</section>

<section class="second">
    <div class="wrap">
        <div class="left-panel">
            <ul class="menu">
                <li class="favourite" (click)='filterFavourite()' [ngClass]="ffilter ? 'favourite-choise' : ''"><i class="fa fa-star" aria-hidden="true"></i>Favourites</li>
                <li class="done" (click)='dfilter=!dfilter' [ngClass]="dfilter ? 'done-choise' : ''"><i class="fa fa-check" aria-hidden="true"></i>Achieved Goals</li>
            </ul>
        </div>
        <div class="line-blocks">
            <div class="input-group">
                <!-- только для своего аккаунта -->
                <input *ngIf="usernameShow" type="text" class="form-control" placeholder="What's your new goal..">
            </div><!-- /input-group -->
            <div class="line-block" *ngFor="let task of tasks; let i = 'index'">
                <div class="line-block-text">
                    <p class="bold size22 center">{{task.title}}</p>
                    <span class="size18">{{task.content}}</span>
                    <div class="line-block-about">
                        <div class="favourite yellow" (click)='setFavourite(tasks[i])' [ngClass]="{'active': task.isFavourite}"><i class="fa fa-lg fa-star"  aria-hidden="true"></i><a>Favourite</a></div>
                        <div class="process" [ngClass]="task.proces == 'Done' ? 'green' : 'blue'"><i class="fa fa-lg" [ngClass]="task.proces == 'Done' ? 'fa-check' : 'fa-cogs'" aria-hidden="true"></i><a>{{task.proces}}</a></div>
                        <div class="like" (click)='addLike(tasks[i])' [ngClass]="{'active': task.isLike}"><i class="fa fa-lg fa-heart" aria-hidden="true"></i><a>Like</a></div>
                        <!--<div class="comment"><i class="fa fa-lg fa-comment" aria-hidden="true"></i><a href="#">Comment</a></div>-->
                        <div (click)='editGoal(task)' class="edit brown"><i class="fa fa-lg fa-edit" aria-hidden="true"></i><a>Edit</a></div>
                    </div>
                </div>
                <div class="line-block-image">
                    <img src="{{task.image}}">
                </div>
            </div>
            <div style='text-align: center;' *ngIf="!finished">
                <img src="/assets/image/Eclipse.svg" alt="">
              </div>
        </div>
    </div>
</section>