.first {
    position: relative;
    margin: 0 auto;
    font-family: 'Roboto';
    height: 100vh;
}

.photo-section,
.wrapper {
    position: absolute;
    top:0;
    right: 0;
    left:0;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    max-width: 700px;
    z-index: 100;
    color: #fff;
    padding-top: 150px;
}

.photo-section {
    background: url("/assets/image/dream.jpg") no-repeat center;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    z-index: 99;
}

.photo-section:after {
    content: '';
    position: absolute;
    background: rgba(32,39,52,.7);
    top:0;
    right: 0;
    left: 0;
    height: 100vh;
}

.photo-name {
    display: flex;
    justify-content: space-between;
}

.photo {
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.photo img {
    width: 100%;
}

.name-about{
    width: 450px;
    text-align: left;
}

.name {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight:100;
}

.about {
    margin-bottom: 20px;
}

.size18 {
    font-size: 18px;
    line-height: 20px;
}

.size40 {
    font-size: 40px;
    line-height: 45px;
}

.line {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border-bottom: solid 1px #999;
    border-top: solid 1px #999;
    line-height: 70px;
    text-align: center;
}


.line a {
    color: #fff;

}

.line-second:before {
     content: '';
     background-color: #999;
     width: 1px;
     height: 70px;
     position: absolute;
     left:207px;
 }

.line-third:before {
    content: '';
    background-color: #999;
    width: 1px;
    height: 70px;
    position: absolute;
    right:247px;
}

.second {
    /* padding-top: 100vh; */
    padding-bottom: 30px;
    width: 100%;
    background: url("/assets/image/dream.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.second>.wrap {
    margin-top: 30px;
    background: rgba(32,39,52,.7);
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}

.left-panel {
    margin-top: 64px;
    width: 20%;
    display: inline-block;
}

.left-panel .menu li {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}

.signout:before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-bottom: 15px;
}

.edit {
    margin-bottom: 20px;
}


.second .input-group{
    margin-bottom: 30px;
    float: right;
    width: 360px;
}

.second .input-group input{
    background-color: #fff;
    border-color: #172331;
    color: #000;
    border-radius: 5px!important;
}

.second .input-group input::-webkit-input-placeholder {color:#555;}
.second .input-group input::-moz-placeholder          {color:#555;}/* Firefox 19+ */
.second .input-group input:-moz-placeholder           {color:#555;}/* Firefox 18- */
.second .input-group input:-ms-input-placeholder      {color:#555;}

.line-blocks {
    width: 80%;
    display: inline-block;
}

.line-block {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border: solid 1px #172331;
    border-radius: 5px!important;
    padding: 20px;
}

.line-block-image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    text-align: center;
}

.line-block-image img {
    max-width: 100%;
    max-height: 100%;
}

.center {
    text-align: center;
}

.line-block-text {
    text-align: justify;
    width: calc(100% - 300px);
}

.line-block-text p {
    margin-bottom: 10px;
}

.size22 {
    font-size: 22px;
    line-height: 25px;
}

.line-block-about {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.line-block-about div {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.line-block-about a {
    margin-left: 5px;
    color: #696969;
}

.line-block-about i {
    color: #696969;
}

.process:hover a {
    text-decoration: underline;
}

.favourite:hover a {
    text-decoration: underline;
}

.edit:hover a {
    text-decoration: underline;
}

.yellow.active i,
.yellow:hover i {
    color: #FFC400;
}

.brown:hover i {
    color: #612403;
}

.blue:hover i {
    color: #00008b;
}

.green:hover i {
    color: #008000;
}

.like:hover a {
    text-decoration: underline;
}

.like.active i,
.like:hover i {
    color: #ff0000;
}

.wrapper .submit {
    max-width: 200px;
    margin: 0 auto;
}

.wrapper .submit input {
    margin-top: 20px;
}

.menu i {
    margin-right: 10px;
}

.menu .favourite:hover i{
    color: #FFC400;
}

.menu .done:hover i{
    color: #008000;
}

.favourite-choise i{
    color: #FFC400;
}

.done-choise i{
    color: #008000;
}

.menu li:hover {
    text-decoration: underline;
}

.grey {
    background: #444;
}


@media only screen and (max-height: 650px) {
    .wrapper {
        padding-top: 80px;
    }
}

@media only screen and (max-width: 992px) {
    .wrapper {
        max-width: 500px;
    }
    .name{
        font-size: 34px;
        margin-bottom: 10px;
    }

    .name-about {
        width: 250px;
    }

    .about {
        margin-bottom: 10px;
    }

    .line {
        padding: 20px 0;
        margin-top: 20px;
    }

    .line a .size40 {
        font-size: 30px;
        line-height: 35px;
    }

    .line.size18 {
        font-size: 15px;
        line-height: 15px;
    }

    .line-second:before {
        height: 50px;
        left: 150px;
    }

    .line-third:before {
        height: 50px;
        right: 175px;
    }

    .line-block .size22 {
        font-size: 20px;
        line-height: 20px;
    }

    .line-block-text {
        width: calc(100% - 230px);
    }
    
    .line-block-image{
        width: 200px;
        height: 200px;
    }

    .line-block .size18 {
        font-size: 16px;
        line-height: 18px;
    }

    .line-block-about {
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .line-block-about div {
        margin-bottom: 0;
    }

    .edit {
        margin-bottom: 0;
    }

    .second>.wrap {
        flex-wrap: wrap;
    }
    .left-panel {
        width: 100%;
        margin-top: 0;
    }

    .line-blocks {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .name-about {
        width: 270px;
    }

    .second>.wrap {
        padding: 20px;
    }

    .line-block {
        padding: 10px;
        flex-wrap: wrap;
    }

    .line-block-image {
        order: 1;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .line-block-text {
        width: 100%;
        order: 2;
    }
}

@media only screen and (max-width: 510px) {
    .photo {
        width: 100px;
        height: 100px;
    }

    .wrapper {
        max-width: 300px;
    }

    .photo-name {
        flex-wrap: wrap;
        justify-content: center;
    }

    .name-about {
        margin-top: 10px;
        width: 201px;
    }

    .name {
        font-size: 26px;
    }

    .left-panel {
        font-size: 15px;
        line-height: 17px;
    }

    .name-about .size18 {
        font-size: 15px;
        line-height: 17px;
    }

    .wrapper .submit input {
        margin-top: 10px;
    }

    .wrapper .btn-lg {
        font-size: 16px;
        padding: 7px 5px;
    }

    .line {
        padding: 10px 0;
        margin-top: 10px;
    }

    .line a .size40 {
        font-size: 25px;
        line-height: 30px;
    }

    .line-second:before {
        height: 45px;
        left: 83px;
    }

    .line-third:before {
        height: 45px;
        right: 109px;
    }

    .line-block-image {
        width: 100px;
        height: 100px;
    }

    .line-block .size22 {
        font-size: 16px;
        line-height: 16px;
    }

    .line-block-text p {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .size18 {
        font-size: 14px;
        line-height: 15px;
    }

    .line-block-about .fa-lg {
        font-size: 1em;
        line-height: 1em;
        vertical-align: 0%;
    }

    .line-block-about div {
        padding: 5px 10px;
    }

    .line-block-about {
        font-size: 15px;
    }
}