<section class="first">
    <div class="photo-section">
    </div>
    <div class="wrapper">
        <div class="photo-name">
            <div class="photo">
                <img src="/assets/image/main-photo1.jpg">
            </div>
            <div class="name-about">
                <p class="name">{{user.firstname}} {{user.lastname}}</p>
                <p class="about size18">Hi there! My name is Monika. I am from Spain. I am a student. I like to
                    travel and cook. Please follow me.</p>
                <ul class="size18">
                    <li><span class="bold">Birth Date:</span><span> May 17</span></li>
                    <li><span class="bold">Languages:</span><span> Spain, English, Portuguese</span></li>
                    <li><span class="bold">Lives in</span><span> Barcelona</span></li>
                    <li><span class="bold">From</span><span> Madrid</span></li>
                </ul>
            </div>
        </div>
        <div class="line">
            <div class="line-first">
                <a href="#"><ul><li class="size40">21</li><li class="size18">Goals</li></ul></a>
            </div>
            <div class="line-second">
                <a href="#"><ul><li class="size40">25</li><li class="size18">Followers</li></ul></a>
            </div>
            <div class="line-third">
                <a href="#"><ul><li class="size40">11</li><li class="size18">Following</li></ul></a>
            </div>
        </div>
    </div>
</section>

<section class="second">
    <div class="wrap">
        <div class="left-panel">
            <ul class="menu">
                <!--<li><a href="#" data-title="Favourites"><i class="fa fa-3x fa-star" aria-hidden="true"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-3x fa-edit" aria-hidden="true"></i></a></li>-->
                <!--<li class="achieved"><a href="#"><i class="fa fa-3x fa-check" aria-hidden="true"></i></a></li>-->
                <!--<li class="signout"><a href="#"><i class="fa fa-3x fa-sign-out" aria-hidden="true"></i></a></li>-->
                <li><a href="#">Favourites</a></li>
                <li><a href="#">Achieved Goals</a></li>
                <li class="edit"><a href="#">Edit your profile</a></li>
                <li class="signout"><a href="#">Sign Out</a></li>
            </ul>
        </div>
        <div class="line-blocks">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="What is your new goal..">
            </div><!-- /input-group -->
            <div class="line-block">
                <div class="line-block-text">
                    <p class="bold size22 center">My main goal</p>
                    <span class="size18"><span class="bold">Trip around the world.</span>
                        Countless people travel abroad, have amazing, life-altering experiences,
                        and return home feeling a strange mix of emotions while trying to
                        reconcile the experiences they had abroad with their lives back
                        home — wherever home may be.</span>
                    <div class="line-block-about">
                        <div class="process blue"><i class="fa fa-lg fa-cogs" aria-hidden="true"></i><a href="#">In the process</a></div>
                        <div class="like"><i class="fa fa-lg fa-heart" aria-hidden="true"></i><a href="#">Like</a></div>
                        <!--<div class="comment"><i class="fa fa-lg fa-comment" aria-hidden="true"></i><a href="#">Comment</a></div>-->
                    </div>
                </div>
                <div class="line-block-image">
                    <img src="/assets/image/trip.jpg">
                </div>
            </div>
            <div class="line-block">
                <div class="line-block-text">
                    <p class="bold size22 center">Speak Italian</p>
                    <span class="size18"><span class="bold">Intermediate level.</span>
                        During the Middle Ages, the established written language in Europe was
                        Latin. With the overwhelming majority of people illiterate, however,
                        only a tiny handful were well versed in the language. In Italy, as
                        in all other countries, the majority would instead speak the vernacular
                        (native tongue) of their region. These dialects (as they are commonly referred to as)
                        were derived from Vulgar Latin over the course of centuries, evolving naturally
                        unaffected by formal standards and teachings. However, it should be noted that
                        these Languages of Italy are not truly "dialects" of Standard Italian, evolving
                        independently (and alongside) of the predecessor of Standard Italian. They are
                        often mutually unintelligible,
                        and are better classified as distinct languages.</span>
                    <div class="line-block-about">
                        <div class="process green"><i class="fa fa-lg fa-check" aria-hidden="true"></i><a href="#">Done</a></div>
                        <div class="like"><i class="fa fa-lg fa-heart" aria-hidden="true"></i><a href="#">Like</a></div>
                        <!--<div class="comment"><i class="fa fa-lg fa-comment" aria-hidden="true"></i><a href="#">Comment</a></div>-->
                    </div>
                </div>
                <div class="line-block-image">
                    <img src="/assets/image/italian.jpg">
                </div>
            </div>
            <div class="line-block">
                <div class="line-block-text">
                    <p class="bold size22 center">Parachute jump</p>
                    <span class="size18"><span class="bold">Skydiving.</span>
                        Parachuting is performed as a recreational activity and a competitive sport,
                        widely considered an extreme sport due to the risks involved. Modern militaries
                        utilize parachuting for the deployment of airborne forces and supplies, and special
                        operations forces commonly employ parachuting, especially free-fall parachuting,
                        as a method of insertion. Occasionally forest firefighters, known as
                        "smokejumpers" in the United States, use parachuting as a means of rapidly
                        inserting themselves near forest fires in especially remote or otherwise inaccessible areas.</span>
                    <div class="line-block-about">
                        <div class="process blue"><i class="fa fa-lg fa-cogs" aria-hidden="true"></i><a href="#">In the process</a></div>
                        <div class="like"><i class="fa fa-lg fa-heart" aria-hidden="true"></i><a href="#">Like</a></div>
                        <!--<div class="comment"><i class="fa fa-lg fa-comment" aria-hidden="true"></i><a href="#">Comment</a></div>-->
                    </div>
                </div>
                <div class="line-block-image">
                    <img src="/assets/image/parashyutist.jpg">
                </div>
            </div>
        </div>
    </div>
</section>