html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Roboto';
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover,
a:visited,
a:focus{
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

body#random-wall {
    background: url("/assets/image/dream.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.navbar{
    margin-bottom:0;
    border-radius:0;
}

.navbar-default {
    background-color: #172331;
    border-color: #1f313d;
}

.navbar-brand{
    color: #fff!important;
    font-size: 45px;
    font-weight: bold;
}

.navbar-nav li{
    font-size: 18px;
}

.white a{
    color: #fff!important;
}

.white a:hover{
    color: #1a2a37!important;
    background-color: #fff!important;
}

.active a{
    background-color: #fff!important;
    color: #1a2a37!important;
}

.find-friend-form input{
    background-color: #fff;
    border: solid 1px #0f0f0f;
    border-radius: 20px 0 0 20px;
    color: #172331;
    height: 32px;
}

.find-friend-form button{
    padding: 5px 12px;
    height: 32px;
    margin-left:-10px;
    background-color: #fff;
    border-right: solid 1px #0f0f0f;
    border-top: solid 1px #0f0f0f;
    border-bottom: solid 1px #0f0f0f;
    border-left:none;
    border-radius: 0 20px 20px 0;
    color: #172331;
}

.find-friend-form button:hover{
    background-color: #fff;
    border-right: solid 1px #0f0f0f;
    border-top: solid 1px #0f0f0f;
    border-bottom: solid 1px #0f0f0f;
    border-left:none;
}

.find-friend-form button:focus{
    border-right: solid 1px #0f0f0f;
    border-top: solid 1px #0f0f0f;
    border-bottom: solid 1px #0f0f0f;
    border-left:none;
}


.find-friend-form input::-webkit-input-placeholder {color:#8b8b8b;}
.find-friend-form input::-moz-placeholder          {color:#8b8b8b;}/* Firefox 19+ */
.find-friend-form input:-moz-placeholder           {color:#8b8b8b;}/* Firefox 18- */
.find-friend-form input:-ms-input-placeholder      {color:#8b8b8b;}

.hi-user{
    padding-left:20px;
    color: #202734;
    font-size: 30px;
    /*font-family: 'EB Garamond', serif;*/
}

.greeting{
    text-align: center;
}

.greeting .input-group{
    width: 360px;
}

.greeting .input-group input{
    background-color: #36484d;
    border-color: #172331;
    color: #fff;
    border-radius: 5px!important;
}

.greeting .input-group input::-webkit-input-placeholder {color:#b5b5b5;}
.greeting .input-group input::-moz-placeholder          {color:#b5b5b5;}/* Firefox 19+ */
.greeting .input-group input:-moz-placeholder           {color:#b5b5b5;}/* Firefox 18- */
.greeting .input-group input:-ms-input-placeholder      {color:#b5b5b5;}

.main{
    margin-top: 15px;
}

.main .main-left a{
    color: #202734;
    /*font-family: 'EB Garamond', serif;*/
    margin-bottom: 10px;
    font-size: 20px;
}

.main-left .last{
    padding-bottom: 20px;
    border-bottom: solid 2px #172331;
}

.main .main-left li{
    margin-bottom:20px;
}

.italian{
    background: url("/assets/image/italian1.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    color: #172331;
    padding-top: 120px;
    font-size: 20px;

}

.italian .it-text{
    background: #fff;
}

.parashut{
    background: url("/assets/image/parashyutist.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    color: #172331;
    padding-top: 120px;
    font-size: 20px;
}

.p-percent{
    margin-top: 10px;
}

.parashut .p-text{
    background: #fff;
}

.plus{
    padding-top: 115px;
    color: #172331;
}

.main-left li a:hover{
    font-weight: bold;
}
